<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Ontology Yggdrasil</title>
    <!-- stylesheets -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/treant-js/1.0/Treant.css" type="text/css"/> -->
</head>
<body>
    <input type="range" id="year-slider" name="year-slider" min="1500" max="2018" value="2018" />
    <br>
    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
        // fetch by current year
        let year = document.getElementById("year-slider").value
        let xhr = new XMLHttpRequest();
        xhr.open("GET", "http://localhost:8080/tree_by_year?year="+year, true); // true = async / false = sync
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) { // on successful HTTP 200 OK response
                    let xhr_result = JSON.parse(xhr.responseText);
                    console.log(xhr_result.tree.children[1])
                    drawChart(xhr_result.tree.children[1]) // [1] is "oliot"
                }
            }
        }
        xhr.send();

        const width = 1000;

        function tree(data) {
            const root = d3.hierarchy(data);
            root.dx = 15;
            root.dy = width / (root.height + 1);
            return d3.tree().nodeSize([root.dx, root.dy])(root);
        }

        function mouseovered(active) {
            return function(d) {
                d3.select(this).classed("label--active", active);
                d3.select(d.linkExtensionNode).classed("link-extension--active", active).raise();
                do d3.select(d.linkNode).classed("link--active", active).raise();
                while (d = d.parent);
            };
        }

        function drawChart(data) {
            const root = tree(data);
            const margin = ({top: 10, right: 120, bottom: 10, left: 40})

            let x0 = Infinity;
            let x1 = -x0;
            root.each(d => {
                if (d.x > x1) x1 = d.x;
                if (d.x < x0) x0 = d.x;
            });
            const height = x1 - x0 + root.dx * 2

            const svg = d3.select("body").append("svg")
                .attr("width", width)
                .attr("height", height)
                .attr("viewBox", [0, 0, width, height])
                .style("font", "10px sans-serif")
                .style("user-select", "none")
                .style("width", "100%")
                .style("height", "auto");

            const g = svg.append("g")
                .attr("font-family", "sans-serif")
                .attr("font-size", 6)
                .attr("transform", `translate(${root.dy / 3},${root.dx - x0})`);

            const link = g.append("g")
                .attr("fill", "none")
                .attr("stroke", "#555")
                .attr("stroke-opacity", 0.4)
                .attr("stroke-width", 1)
            .selectAll("path")
                .data(root.links())
                .enter().append("path")
                    .attr("d", d3.linkHorizontal()
                        .x(d => d.y)
                        .y(d => d.x));

            const node = g.append("g")
                .attr("stroke-linejoin", "round")
                .attr("stroke-width", 3)
            .selectAll("g")
                .data(root.descendants().reverse())
                .enter().append("g")
                    .attr("transform", d => `translate(${d.y},${d.x})`);

            node.append("circle")
                .attr("fill", d => d.children ? "#555" : "#999")
                // .attr("r", function (d) {
                //     console.log(d);
                //     if (d.depth < 4) return 2.5
                //     else return d.data.count;
                // });
                .attr("r", 2.5);
                // .on("mouseover", mouseovered(true))
                // .on("mouseout", mouseovered(false));

            node.append("text")
                .attr("dy", "0.31em")
                .attr("x", d => d.children ? -6 : 6)
                .attr("text-anchor", d => d.children ? "end" : "start")
                .attr("font-size", function (d) {
                    // console.log(d);
                    if (d.depth < 4) return 6
                    else return d.data.count;
                })
                .text(d => d.data.prefLabel)
            .clone(true).lower()
                .attr("stroke", "white");

            return svg.node();
        }
        // drawChart()
    </script>
</body>
</html>
